/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --lamp-toggle-before: 'REC';
  --lamp-toggle-after: '';
  --main-color: #FF0070;
  --accent-color: #DB00FF;
  --background-color: #FF0070;
  --text-color: #F1B2CE;
  --background-image: url('../images/cover-image-dark.png');
}

@media(prefers-color-scheme: dark) {
  .page.theme_dark {
    --lamp-toggle-before: 'REC';
    --lamp-toggle-after: '';
    --main-color: #FF0070;
    --accent-color: #DB00FF;
    --background-color: #FF0070;
    --text-color: #F1B2CE;
    --background-image: url('../images/cover-image-dark.png');
  }  
}
