/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  .page.theme_light {
    --main-color: #353430E;
    --accent-color: #FFC2E6;
    --title-color: #353430;
    --background-image: url('../images/cover-image-light.png');
  }
}
