/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --lamp-toggle-before: none;
  --lamp-toggle-after: none;
  --main-color: #353430;
  --accent-color: #FFC2E6;
  --background-color: #FFC2E6;
  --text-color: #353430;
  --background-image: url('../images/cover-image-light.png');
}

@media(prefers-color-scheme: light) {
  .page.theme_light {
    --lamp-toggle-before: none;
    --lamp-toggle-after: none;
    --main-color: #353430;
    --accent-color: #FFC2E6;
    --background-color: #FFC2E6;
    --title-color: #353430;
    --background-image: url('../images/cover-image-light.png');
  }
}

