/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex Mono", monospace;
  background-image: url('../images/cover-image-dark.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

.header {
  padding-top: 20px;
  display: grid;
  background-image: url('../images/');
  height: 100vh;
  width: 100%;
  grid-gap: 30px;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  color: #FF0070;
  font-style: inherit;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid red;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid black;
}

.header__lamp {
  justify-self: end;
  color: white;
  position: absolute;
}

.header__lamp::before {
  content: 'REC';
  border-radius: 100%;
  width: 9px;
  height: 9px;
  color: var(--);
  box-shadow: inset;
  color: red;
  font-size: 18px;
  font-weight: 400;
}

.header__lamp::after {
  content: '';
  border-radius: 100%;
  width: 9px;
  height: 9px;
  color: red;
  box-shadow: inset;
}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.header__theme-menu-list {
  gap: 32px;
  display: flex;
  justify-content: space-between;
}

.header__theme-menu-item button {
  cursor: pointer;
} 

.header__title {
  align-content: center;
  justify-items: end;
}

.header__title-text {
  color: #DB00FF;
  font-size: 157px;
  font-weight: 700;
  letter-spacing: 6px;
}

.header__description {
  justify-self: end;
}

.header__description-text {
  width: 491px;
  height: 71px;
  font-size: 18px;
  background-color: #FF0070;
  font-weight: 700;
}

/* ВРЕМЕННАЯ ЗАТЫЧКА */
.card__title {
  background-color: red;
  font-size: 18px;
}

.card__description {
  width: 650px;
  height: 211px;
  font-size: 18px;
  color: #F1B2CE;
}

.focus {
  display: flex;
  justify-content: space-between;
}

.focus__title {
  color: #FF0070;
}

.concentration {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.concentration__title {
  color: #FF0070;
}

.adviсes {
  display: flex;
  justify-content: space-between;
}

.adviсes__title{
  color: #FF0070;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  /* grid-template-areas: 
  "title title title"
  "sunset sunset ice-cream" */
}

/* .pictures__title {
  grid-area: title;
  background-color: #FF0070;
  width: 100%;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.books {
  grid-area: books;
}

.tape {
  grid-area: tape;
}

.street {
  grid-area: street;
} */