/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  color: var(--main-color);
  background-image: var(--background-image);
  background-color: var(--main-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* utils */
.title-decor {
  background-color: var(--background-color);
}

/*Header*/

.header {
  height: 100vh;
  min-height: 100vh;
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  display: grid;
  width: 100%;
  grid-template-rows: auto max-content;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  border-right: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  inline-size: 25px;
  block-size: 25px;
  bottom: 50px;
  left: 10px;
  background-color: transparent;
}

.header__theme-menu {
  font-size: 18px;
  justify-self: center;
}

.header__theme-menu-button {
  border: none;
  position: relative;
  background: transparent;
  font-style: inherit;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:active {
  border: 1px solid var(--main-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-color);
}

/* header decoration lamp */
.header__lamp {
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  position: absolute;
  right: 72px;
}

.header__lamp::before {
  content: var(--lamp-toggle-before);
  width: 9px;
  height: 9px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
}

.header__lamp::after {
  content: var(--lamp-toggle-after);
  position: absolute;
  top: 80%;
  left: 40px;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 2px 2px var(--main-color);
  background-color: var(--main-color);
  border-radius: 50%;
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-color);
}

.header__theme-menu-list {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.header__title-text {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px var(--text-shadow-color);
  color: var(--accent-color);
}

.header__description {
  justify-items: end;
  align-self: center;
}

.header__description-text {
  color: var(--card-title);
  font-size: 18px;
  font-weight: 700;
}

/* main content + card */
.main {
  display: grid;
  gap: 52px;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  color: var(--title-decor);
  font-size: 18px;
}

.section {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
  font-size: 18px;
  color: var(--text-color);
}

.card__title {
  font-weight: 600;
  color: var(--card-title);
  font-size: 18px;
}

.card__list {
  display: grid;
  gap: 20px;
}

.card__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 3px var(--link-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--main-color);
  outline-offset: -4;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--link-border-color);
  outline-offset: -2px;
}


.card__list .title {
  color: var(--card-title);
}

/* section picture */

.section-pictures {
  display: grid;
  gap: 10px;
}

.section-pictures .title {
  color: var(--card-title);
}

.pictures__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  gap: 10px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.books {
  grid-area: books;
}

.tape {
  grid-area: tape;
}

.street {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

.footer__title-text {
  text-shadow: 4px 4px var(--text-shadow-color);
  color: var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: inherit;
  font-style: inherit;
}

/* adaptive */

@media (width >= 1024px) {
  .concentration .title {
    inline-size: 260px;
  }

  .concentration__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .header__theme-menu-list {
    gap: 10px;
    /* display: flex;
    justify-content: space-between; */
    padding-left: 20px;
  }

  .header__title-text {
    padding-top: 36px;
  }

  .main {
    gap: 82px;
  }

  .focus {
    gap: 10px;
  }

  .advices {
    gap: 10px;
  }

  .footer {
    margin-block: 60px;
  }

  .pictures {
    padding-top: 58px;
    padding-bottom: 60px;
  }
}

@media (width >=768px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .focus {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section-pictures {
    display: grid;
    gap: 20px;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .pictures {
    padding-top: 80px;
    gap: 20px;
  }

  .pictures__content {
    gap: 20px;
  }

  .header {
    display: grid;
    height: 100vh;
    padding-top: 20px;
    padding-right: 20px;
  }

  .header__description {
    justify-self: end;
    padding-bottom: 13px;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
}

@media (width: 768px) {
  .header {
    height: 100vh;
    padding-right: 20px;
    padding-top: 20px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
    display: flex;
    justify-content: space-between;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .footer {
    margin-block: 60px;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
}

@media (375px < width < 1024px) {
  .concentration__list {
    gap: 24px;
  }
}

@media (375px < width <=768px) {
  .main {
    display: grid;
    gap: 79px;
  }

  .concentration .title {
    inline-size: 119px;
  }
}

@media (max-width: 375px) {

  .header {
    height: auto;
    padding-top: 10px;
    padding-right: 10px;
  }

  .header__theme-menu {
    margin-block: 65px;
  }

  .header__description {
    padding-right: 22px;
    font-size: 18px;
    margin-block: 52px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__lamp {
    right: 61px;
    top: 11px;
  }

  .header__title-text {
    letter-spacing: -2px;
    padding-left: 8px;
  }

  .header__description {
    padding-left: 10px;
    padding-bottom: 55px;
    padding-right: 1px;
  }

  .pictures__content {
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin-block: 38px;
    padding-top: 0px;
    padding-bottom: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 106vh;
  }

  .footer__title-text {
    letter-spacing: -2px;
  }
}