/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --lamp-toggle-before: 'REC';
  --lamp-toggle-after: '';
  --card-title: #000028;
  --button-color-hover: rgb(255, 0, 112, 0.4);
  --link-color: #FF0070;
  --link-border-color: #F1B2CE;
  --main-color: #FF0070;
  --accent-color: #DB00FF;
  --background-color: #FF0070;
  --text-color: #F1B2CE;
  --background-image: url('../images/cover-image-dark.png');
}

