/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --lamp-toggle-before: 'REC';
  --lamp-toggle-after: '';
  --button-color-hover: #FF0070;
  --link-color: #FF0070;
  --main-color: #FF0070;
  --accent-color: #DB00FF;
  --text-color: #F1B2CE;
  --background-color: #FF0070;
  --background-image: url('../images/cover-image-dark.png');
}

